.checkoutProduct {
    display: flex;
    margin: 20px 0;

    &__img {
        object-fit: contain;
        width: 180px;
        height: 180px;
    }

    &__title {
        font-size: 17px;
    }

    &__info {
        padding-left: 20px;
    }

    &__btn {
        @include button;
    }
}
