.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;

    &__logo {
        width: 100px;
        object-fit: contain;
        margin: 18px 20px 0;
    }

    &__search {
        display: flex;
        flex: 1;
        align-items: center;
        border-radius: 24px;
    }

    &__searchInput {
        height: 30px;
        padding: 10px;
        width: 100%;
        background-color: $white-color;
        border: none;
    }

    &__searchIcon {
        padding: 5px;
        height: 30px !important;
        background-color: $primary-color;
    }

    &__nav {
        display: flex;
        justify-content: space-evenly;
    }

    &__options {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        color: $white-color;

        span {
            &:nth-child(1) {
                font-size: 12px;
            }

            &:nth-child(2) {
                font-size: 13px;
                font-weight: 800;
            }
        }
    }

    &__optionBasket {
        display: flex;
        align-items: center;
        color: $white-color;
    }

    &__basketCount {
        margin: 0 10px;
    }
}
