.product {
    grid-column: 1 / -1;
    background-color: white;
    z-index: 1;
    box-shadow: 5px 5px 25px rgba($color: #000000, $alpha: 0.1);
    transition: 0.3s;
    width: auto;
    max-width: 800px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    column-gap: 25px;
    margin: 0 0 25px;
    border-radius: 5px;
    padding: 20px;

    &__info {
        margin-bottom: 25px;

        & > p {
            margin: 5px 0;
        }
    }

    &__price {
        margin-top: 5px;
    }

    &__img {
        max-height: 200px;
        min-height: 200px;
        width: 100%;
        background-color: white;
        margin: 0 auto;
        object-fit: contain;
        margin-bottom: 15px;
        grid-column: 1;
        grid-row: 1 / -1;
        margin: auto;
    }

    &__btn {
        @include button;
        margin-left: 0;
        margin-bottom: 30px;
        max-height: 30px;
        align-self: end;
    }

    &:hover {
        transform: scale(1.02);
    }

    &__home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        width: 100%;
        min-width: 100px;
        max-width: 100%;

        .product {
            &__btn {
                margin: 15px auto 0;
            }
        }
    }
}
