.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100%;
    max-height: 215px;
    padding: 20px;
    background-color: $bg-color;
    border: 1px solid #dddddd;
    border-radius: 3px;

    p {
        margin: 0;
    }

    &__gift {
        display: flex;
        align-items: center;

        & > input {
            margin-right: 5px;
        }
    }

    &__btn {
        @include button;
    }
}

@media screen and (max-width: 700px) {
    .subtotal {
        height: 150px;
        width: 100%;

        &__btn {
            margin: 0;
        }
    }
}
