* {
    box-sizing: border-box;
}

body {
    background-color: $bg-color;

    a {
        text-decoration: none;
    }

    img {
        width: 100%;
    }

    li {
        list-style: none;
    }
}
