.payment {
    background-color: $bg-color;

    & > h1 {
        margin: 0;
        text-align: center;
        padding: 10px;
        background-color: $bg-color;
        border-bottom: 1px solid lightgray;
    }

    &__section {
        display: flex;
        padding: 20px;
        border-bottom: 1px solid lightgray;
        margin: 0 20px;
    }

    &__title {
        margin-top: 0;
        flex: 0.2;
    }

    &__address,
    &__items,
    &__details {
        flex: 0.8;
    }

    &__address {
        & > p {
            margin: 3px;
        }
    }

    &__priceContainer {
        button {
            @include button;
        }
    }
}

@media screen and (max-width: 650px) {
    .payment {
        &__title {
            flex: 0.4;
        }

        &__address,
        &__items,
        &__details {
            flex: 0.6;
        }

        &__items {
            .product {
                max-height: 80vh;
                display: flex;
                flex-direction: column;

                &__btn {
                    margin: 10px auto 0;
                }
            }
        }
    }
}
