@mixin button {
    margin-top: 10px;
    margin: 0 auto;
    max-width: 450px;
    width: 80%;
    padding: 5px;
    background-color: #f0c14b;
    border-radius: 5px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #161616;
    cursor: pointer;
}
